.box{
	padding: 25px;
	margin: 25px auto;
  border-radius: 5px;
  background: $box-background;
	@include material-shadow($z-depth: 3);
	@include grid-media($custom-neat-grid){
    @include grid-column(4);
  }
}
