$full-menu-width: 0px;
$minimized-menu-width: 160px;

#menu:hover {
  margin-left: $full-menu-width;
}

#menu {
  height: 100vh;
  z-index: 999;
  font-size: 16px;
  position: fixed;
  width: 220px;
  background-color: $nav-background;
  box-sizing: border-box;
  margin-left: -$minimized-menu-width;
  @include transition(all 0.5s ease);

  a {
    color: $white;
  }

  li {
    padding: 10px;
    box-sizing: border-box;

    &:hover {
      background-color: lighten($black, 5%);
    }
  }

  ul {
    margin-top: 10px;
  }

  svg {
    font-size: 25px;
    margin: 0 10px 0 0;
    float:right;
  }
}
