@import '0-libs/libs-dir';
@import '1-mixins/mixins-dir';
@import '2-modules/modules-dir';
@import '3-base/base-dir';
@import '4-layouts/layouts-dir';

$custom-neat-grid: (
  columns: 12,
  gutter: 50px,
  media: 1000px,
);

.container{
	margin:50px auto;
	padding: 25px;
}


.box{
	padding: 25px;
	margin: 50px auto;
	@include material-shadow($z-depth: 3);
	@include grid-media($custom-neat-grid){
    @include grid-column(6);
  }
}
