
// Colors
$white: #fefefe;
$black: #1a1a1a;
$light-gray: #f9f9f9;
$red: #FF4E50;


$page-background: $light-gray;
$box-background: $white;
$nav-background: $black;

$btn-flat-border: $red;
$btn-flat-font: $red;
$btn-flat-background: transparent;

$btn-flat-font-hover: $white;
$btn-flat-background-hover: $red;
